extends layout

block content
  h1= title
  p
  article.caption
    img(class="caption_media" src="#{photo_url}")
    #container.caption_overlay(onclick="")
      h2(class="caption_overlay_title" onclick="")= "Quote of the Day"
      h2(class="caption_overlay_content" onclick="")=  quote
